<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Used Car Price Predictor</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Used Car Price Predictor</h1>
        </div>
    </div>

    <div>
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Enter Car Details:</h2>
            <h3>Age Of The Car (In Years)</h3>
            <input id="first" name="Age_Of_The_Car" type="number">
            <h3>Present Showroom Price (In Lakhs)</h3>
            <input id="second" name="Present_Price" required="required">
            <h3>Kilometers Driven</h3>
            <input id="third" name="Kms_Driven" required="required">
            <h3>Owner Type (0/1/3)</h3>
            <input id="fourth" name="Owner" required="required">
            <h3>Fuel Type</h3>
            <select name="Fuel_Type" id="fuel" required="required">
                <option value="0">Petrol</option>
                <option value="1">Diesel</option>
                <option value="2">CNG</option>
            </select>
            <h3>Seller Type</h3>
            <select name="Seller_Type" id="resea" required="required">
                <option value="0">Dealer</option>
                <option value="1">Individual</option>
            </select>
            <h3>Transmission Type</h3>
            <select name="Transmission" id="research" required="required">
                <option value="0">Manual Car</option>
                <option value="1">Automatic Car</option>
            </select>
            <br><br>
            <button id="sub" type="submit">Predict Selling Price</button>
            <br>
        </form>
    </div>
</body>
</html>